

ul {
    list-style: none;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    

}
ul > li {
    width: 198px;
    height: 198px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
ul > li[data-row="1"] {
    width: 198px;
    height: 198px;
    border-top: 1px solid black;
}
ul > li[data-col="1"] {
    width: 198px;
    height: 198px;
    border-left: 1px solid black;
}
